<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

<!--开启注解包扫描-->
    <context:component-scan base-package="com.itheima"/>

  <!--  &lt;!&ndash;引入外部属性配置文件&ndash;&gt;
    <context:property-placeholder location="classpath:jdbc.properties"/>-->

<!--创建jdbcTemplate对象-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
            <constructor-arg name="dataSource" ref="hikariDs"/>
    </bean>


    <!--配置光连接池-->
    <bean id="hikariDs" class="com.zaxxer.hikari.HikariDataSource">
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    </bean>

    <!--
        创建事务管理器DataSourceTransactionManager，管理连接：连接池
    -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="hikariDs"/>
    </bean>



    <!--开启[tx]注解[annotation]驱动[driven]配置关联事务管理器-->
    <tx:annotation-driven transaction-manager="txManager"/>

</beans>