<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:component-scan base-package="com.itheima"/>
    <!--注册一个接口对象-->
    <bean id="accountDao" class="com.itheima.dao.impl.AccountDaoImpl"/>

    <!--注册一个bean-->
    <bean id="myAspect" class="com.itheima.aspect.MyAspect"/>

    <!--开启AOP注解-->
    <aop:aspectj-autoproxy/>

</beans>